/* Para Mobile */

/* Formatação Geral */
body {
    font-family: Trocchi, Montserrat, 'Permanent Marker', sans-serif;
    /* background-color:cornflowerblue;  */
}

h1,h2,h3 {
    margin: 0;
    font-family: 'Trocchi';
    font-weight: 700;
}

p{
    font-family: 'Trocchi', Roboto, 'Times New Roman', Times, serif;
}

.container{
    width: 100%;
}



/* Cabeçalho Barra de Navegação */
.logo img{
    width: 7cm;
    height: 7cm;
    border-radius: 100%;
}

/* nav > a {
    text-decoration: none;
    color: black;
    font-weight: 700;
    font-size: 35px;
    font-family: Pacifico;
} */

nav{
    display: flex;  /*flexivel */
    flex-direction: column;  /*um em baixo do outro */ 
    align-items: center;
    background-color: rgb(190, 209, 233) ;
    padding: 35px;

}

nav ul{
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

nav ul li {
    text-align: center;
    width: 100%;
    font-size: 1.5em;  /*EM = pega a fonte padrão do site, e poe 1.5(nesse caso) cm a mais. */
    padding: 2%; 
}

nav ul li a {
    display: inline-block;
    padding: 10px 0;
    width: 100%;
    text-decoration: none;
    color: #161616 ;
    /* text-shadow: black 1cm; */
}


/* Header */

header{

    background-image: url("../img/fundo.png");
    background-size: cover; /* Pegar a tela inteira */
    background-position: center;
    background-repeat: no-repeat;
    color:#161616;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 35px;

}

header p{
   margin-bottom: 2em;
   font-size: 1.7em ;

}

.botao{
    color: #202020 ;
    text-decoration: none;
    padding: 10px 30px;
    background-color:rgb(190, 209, 233)  ;
    border-radius: 10px;
    font-size: 0.9em;
}

#sobre{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center ;
    background-color:rgb(190, 209, 233);
    color: #161616;
    
}

#sobre h2 {
    margin-top: 20px;
    font-size: 2em;
    margin-bottom: 10px;
}
 
.foto img{
    width: 67%;
    border-radius: 100%;
}

.foto{
    float: left;
    width: 50%;
}

.texto {
    float: right;
    width: 50%;
}
/* Especialidades*/
#especialidades{
    padding: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    margin: 0 auto;
    background-color:rgb(210, 224, 241) ;
}

#especialidades div {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
}
#especialidades p{
    line-height: 1.5;
    margin: 2vh;
    font-size: 1.2em;
}

#especialidades img {
    margin: 10px 0 ;
    width: 3.5cm;
    height: 3.5cm; 
}

#especialidades h2{
    font-size: 2em;
}

/* Competencias */

#competencias {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    padding-left: 20px;     
    padding-right: 20px;
    background-color: rgb(171, 209, 240);

}


#competencias h2 {
    margin-bottom: 20px;
    margin-top: 10px;
    font-size: 2em;
    text-align: center;

}

#competencias h3, p {
    margin-bottom: 20px;
    margin-top: 10px;
    font-size: 1em;
    text-align: center;

}

#competencias a {
    text-decoration: none;
}

#competencias img{
    width: 100%;
    margin-bottom: 0; 
}

#competencias .comp p{
    /* border-left: 2px solid black;
    border-right: 2px solid black;
    border-bottom: 2px solid black;
    border-radius: 20%; */
    margin-top: 0;
    font-family: 'Trocchi', sans-serif;
    padding-right: 15px;
    padding-left: 15px;
    line-height: 1.5;
    background-color: rgb(171, 209, 240);

}


.trab img:hover{
    -ms-transform: rotate(-10deg);
    -webkit-transform:rotate(-10deg);
    -moz-transform: rotate(-10deg);
    -o-transform: rotate(-10deg);
    transform: rotate(-10deg);
    padding-right:10px;
    padding-left:10px;
    border-radius: 20%;
    

}

/* Hobbies */
#hobby{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    width: 100%;
    background-color: rgb(155, 189, 216) ;
}

#hobby h2{
   padding-bottom: 20px;
   padding-top: 10px;
   font-size: 2em;
   text-align: center;
}

.hobby{
    width: 50%;
    align-items: center;
    text-align: center;
}

.hobby h3{
   font-size: 1.5em;
   margin-top: 30px;
    margin-bottom: 14px;
}
#hobby img{
    border-radius: 10%;
    height: 8cm;
    width: 8cm;
    margin-bottom: 40px;
}


/* Contato */
#contato{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: rgb(171, 205, 238);
    width: 100%;
    
}

#contato h2{
    margin-top: 40px;
    margin-left: 20px;
    margin-width: 20px;
    margin-bottom: 20px;
    font-size: 2em;
    text-align: center;
    color: #161616;
}

#contato > p{
    margin-bottom: 20px;
    font-size: 1.2em;
    text-align: center;
    color: #161616;
}

#contato a{
    text-decoration: none;
    color: firebrick;
    text-align: center;
}

#contato img{
    width: 2cm;
    height: 2cm;
}


/* footer */

footer{
    text-align: center;
    width: 100%;
    background-color: rgb(93, 114, 139);
    color:#F8F8FF;
    padding-top:40px;
    padding-bottom:40px;
}


/* Para Desktop */
@media screen and (min-width: 768px){

    /* Cabeçalho Barra de Navegação */
    nav{
        flex-direction: row;
        justify-content: space-around;
    }  

    nav ul {
        flex-direction: row;
        width: 70%;
    }

    /*  Header  */
    header{
    /* height: 600px; */
        height:60vh ;
        justify-content: center;

    }

    /* Sobre */
    #sobre {
     flex-direction: row; /*  */
     flex-wrap: wrap; /* Quebrar linha se não tiver mais espaço*/
     align-items: center; /* alinhado começando do inicio*/
     height: 90vh;
     justify-content: center;
     min-height: 80vh;   
    }

    #sobre h2 {
        text-align: center;
        width: 100%;
    }

    #sobre div {
        flex-grow: 1;
        flex-basis: 300px;
        padding: 0 20px;
    }

    /* Especialidades */ 
    #especialidades {
        flex-direction: row;
        flex-wrap: wrap;
        align-items: flex-start;
        max-width: auto;
        margin: 0 auto;
        background-color:rgb(210, 224, 241) ;
        
    }

    #especialidades h2{
        text-align: center;
        width: 100%;
    }

    #especialidades div{
        flex-grow: 1;
        flex-basis: 200px;
        padding: 0 10px;
        

    }
    #especialidades img{
        width: 3.5cm;
        height: 3.5cm;
    }
  

    /* Competencias */
    #competencias {
        
        flex-direction: row;
        flex-wrap: wrap;
        padding-left: 20px;
        padding-right: 20px;
        background-color: rgb(171, 209, 240);
        
    }

    #competencias h2, h3{
        width: 100%;
        text-align: center;
    }

    #competencias .comp {
        width: 33.3%;
        text-align: center;
        background-color: rgb(171, 209, 240);
    }
    
    

    /* Contato */

    #contato {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        max-width: 100%;
        margin: 0, auto;
        text-align: center;
        max-height: 40vh;
        width: 100%;


    }

    #contato h2, 
    #contato p {
        text-align: center;
        width: 100%;
    }






}

/* #E6E6FA -> lanavder -> azulzin pastel */

